<template>
  <div class="container">
    <h1 class="form-heading">login Form</h1>
    <div class="login-form">
      <div class="main-div">
        <div class="panel">
          <h2>OdontoGO</h2>
          <p>Uma solução completa para o seu consultório.</p>
        </div>

        <form
          @submit="acessar"
          id="Login"
        >
          <div class="form-group">
            <input
              type="text"
              class="form-control"
              id="email"
              name="email"
              v-validate="{ required: true, email: true }"
              v-model="login.username"
              autocomplete="off"
              title="Digite o seu e-mail para acessar o sistema"
              placeholder="exemplo@examplo.com"
            >
            <div class="mt-1">
              <small class="text-danger">{{ errorsValidation.first('email') }}</small>
            </div>
          </div>
          <div class="form-group">
            <input
              type="password"
              class="form-control"
              id="senha"
              name="senha"
              v-model="login.senha"
              v-validate="{ required: true, min: 5 }"
              autocomplete="off"
              title="Digite sua senha para acessar o sistema"
              placeholder="**********"
            >

            <div class="mt-1">
              <small class="text-danger">{{ errorsValidation.first('senha') }}</small>
            </div>
          </div>

          <button v-if="!isLoading" type="submit" class="btn btn-block btn-primary">
            Login
          </button>

          <b-button v-if="isLoading" type="button" variant="primary btn-block btn-primary" disabled>
            <b-spinner small></b-spinner>
            <span class="sr-only">Carregando...</span>
          </b-button>
        </form>
      </div>
    </div>
  </div>
</template>

<script>
import VARIAVEIS from '@/environment'

export default {
  name: 'login',
  data () {
    return {
      login: {
        username: '',
        senha: ''
      },
      isLoading: false
    }
  },
  methods: {
    /**
     * Método responsável por realizar login no sistema.
     *
     * @param evento
     */
    acessar (evento) {
      evento.preventDefault()

      this.$validator.validate().then(valid => {
        if (valid) {
          this.isLoading = true
          this.$http.post(VARIAVEIS.URL_PADRAO + 'users/login', this.login).then(
            resp => {
              this.$swal('Usuário logado com sucesso.', '', 'success')
              localStorage.setItem('token', resp.bodyText)
              this.$store.commit('setUsuario', {
                email: this.login.username
              })

              this.isLoading = false
              this.$router.push({ name: 'admin' })
            },
            erro => {
              this.isLoading = false
              this.$swal(erro.body.message, '', 'warning')
            }
          )
        }
      })
    }
  }
}
</script>

<style scoped lang="scss">
.form-heading {
  color: #fff;
  font-size: 23px;
}

.panel {
  h2 {
    color: #444444;
    font-size: 18px;
    margin: 0 0 8px 0;
  }

  p {
    color: #777777;
    font-size: 14px;
    margin-bottom: 30px;
    line-height: 24px;
  }
}

.error {
  color: red;
  text-align: left;
}

.main-div {
  background: #ffffff none repeat scroll 0 0;
  border-radius: 2px;
  margin: 10px auto 30px;
  max-width: 38%;
  padding: 50px 70px 70px 71px;

  @media screen and (min-width: 320px) and (max-width: 768px) {
    max-width: 100%;
  }
}

.login-form {
  text-align: center;

  .form-group {
    margin-bottom: 10px;
  }

  .form-control {
    height: 50px;
    font-size: 14px;
    line-height: 50px;
    border-radius: 4px;
    border: 1px solid #d4d4d4;
    background: #f7f7f7 none repeat scroll 0 0;
  }

  .btn.btn-primary {
    color: #ffffff;
    font-size: 14px;
    height: 50px;
    line-height: 50px;
    padding: 0;
  }
}

.forgot a {
  color: #777777;
  font-size: 14px;
  text-decoration: underline;
}

.forgot {
  text-align: left;
  margin-bottom: 30px;
}

.botto-text {
  color: #ffffff;
  font-size: 14px;
  margin: auto;
}

.back {
  text-align: left;
  margin-top: 10px;

  a {
    font-size: 13px;
    color: #444444;
    text-decoration: none;
  }
}
</style>
