<template>
  <b-form @submit.stop.prevent="salvar">

    <h6>Dados Pessoais</h6>

    <div class="form-row">
      <b-form-group
        v-if="usuario.id && usuario.id != ''"
        class="col-3"
        id="id"
        label="ID:"
        label-for="id"
      >
        <b-form-input
          type="text"
          id="id"
          disabled
          v-model="usuario.id"
        >
        </b-form-input>
      </b-form-group>

      <b-form-group
        class="col"
        id="nome"
        label="Nome:"
        label-for="nome"
      >
        <b-form-input
          type="text"
          id="nome"
          name="nome"
          placeholder="Digite o nome do usuário."
          autocomplete="off"
          v-validate="{ required: true }"
          v-model="usuario.nome"
        >
        </b-form-input>

        <div class="mt-1">
          <small class="text-danger">{{ errorsValidation.first('nome') }}</small>
        </div>
      </b-form-group>
    </div>

    <div class="form-row">
      <b-form-group
        class="col"
        id="email"
        label="E-mail:"
        label-for="email"
      >
        <b-form-input
          type="email"
          id="email"
          nome="email"
          placeholder="Digite o e-mail do usuário."
          autocomplete="off"
          v-validate="{ required: true, email: true }"
          v-model="usuario.email"
        >
        </b-form-input>

        <div class="mt-1">
          <small class="text-danger">{{ errorsValidation.first('email') }}</small>
        </div>
      </b-form-group>

      <b-form-group
        class="col"
        id="conf_email"
        label="Confirmação de E-mail:"
        label-for="conf_email"
      >
        <b-form-input
          type="email"
          id="conf_email"
          name="conf_email"
          placeholder="Digite o e-mail de confirmação."
          autocomplete="off"
          v-validate="{ required: true, email: true }"
          v-model="usuario.conf_email"
        >
        </b-form-input>

        <div class="mt-1">
          <small class="text-danger">{{ errorsValidation.first('conf_email') }}</small>
        </div>
      </b-form-group>
    </div>

    <div class="form-row">
      <b-form-group
        class="col"
        id="senha"
        label="Senha:"
        label-for="senha"
      >
        <b-form-input
          type="password"
          id="senha"
          name="senha"
          placeholder="Digite a senha do usuário."
          autocomplete="off"
          v-validate="{ required: true, min: 5 }"
          v-model="usuario.senha"
        >
        </b-form-input>

        <div class="mt-1">
          <small class="text-danger">{{ errorsValidation.first('senha') }}</small>
        </div>
      </b-form-group>

      <b-form-group
        class="col"
        id="conf_senha"
        label="Confirmação de Senha:"
        label-for="conf_senha"
      >
        <b-form-input
          type="password"
          id="conf_senha"
          name="conf_senha"
          placeholder="Digite a senha de confirmação."
          autocomplete="off"
          v-model="usuario.conf_senha"
          v-validate="{ required: true, min: 5 }"
        >
        </b-form-input>

        <div class="mt-1">
          <small class="text-danger">{{ errorsValidation.first('conf_senha') }}</small>
        </div>
      </b-form-group>
    </div>

    <div class="form-row">
      <b-form-group
        class="col"
        id="g_identidade"
        label="Identidade:"
        label-for="identidade"
      >
        <b-form-input
          type="text"
          id="identidade"
          name="identidade"
          placeholder="Digite a identidade do usuário."
          autocomplete="off"
          v-model="usuario.identidade"
          v-validate="{ required: true }"
        >
        </b-form-input>

        <div class="mt-1">
          <small class="text-danger">{{ errorsValidation.first('identidade') }}</small>
        </div>
      </b-form-group>

      <b-form-group
        class="col"
        id="g_cpf"
        label="CPF:"
        label-for="cpf"
      >
        <b-form-input
          type="text"
          id="cpf"
          name="cpf"
          placeholder="Digite o seu número de CPF."
          autocomplete="off"
          v-validate="{ required: true }"
          v-model="usuario.cpf"
          v-mask="'###.###.###-##'"
        >
        </b-form-input>

        <div class="mt-1">
          <small class="text-danger">{{ errorsValidation.first('cpf') }}</small>
        </div>
      </b-form-group>

    </div>

    <div class="form-row">
      <b-form-group
        class="col"
        id="g_telefone"
        label="Telefone:"
        label-for="telefone"
      >
        <b-form-input
          type="text"
          id="telefone"
          name="telefone"
          placeholder="Digite o seu número de telefone."
          autocomplete="off"
          v-validate="{ required: true, min: 9 }"
          v-model="usuario.telefone"
          v-mask="['(##) ####-####', '(##) #####-####']"
        >
        </b-form-input>

        <div class="mt-1">
          <small class="text-danger">{{ errorsValidation.first('telefone') }}</small>
        </div>
      </b-form-group>

    </div>

    <div class="form-row">

      <div class="col b-form-group form-group col-6">
        <label class="col-form-label pt-0">Estado Civil:</label>

        <b-form-select
          class="form-control"
          v-model="usuario.estadoCivil"
          :options="estadosCivis"
        />
      </div>

      <div class="col b-form-group form-group col-6">
        <label class="col-form-label pt-0">Sexo:</label>

        <b-form-select
          class="form-control"
          v-model="usuario.sexo"
          :options="sexo"
        />
      </div>

    </div>

    <div class="form-row">

      <div class="col b-form-group form-group col-12">
        <label class="col-form-label pt-0">Perfis:</label>

        <div class="row">
          <div class="col-6">
            <b-form-checkbox
              id="has_admin"
              v-model="usuario.admin"
              value="true"
              unchecked-value="false"
            >
              Administrador(a)
            </b-form-checkbox>
          </div>

          <div class="col-6">
            <b-form-checkbox
              id="has_secretaria"
              v-model="usuario.isSecretaria"
              value="true"
              unchecked-value="false"
            >
              Secretário(a)
            </b-form-checkbox>
          </div>

          <div class="col-6">
            <b-form-checkbox
              id="has_odontologo"
              v-model="usuario.isOdontologo"
              value="true"
              unchecked-value="false"
            >
              Odontologo(a)
            </b-form-checkbox>
          </div>

          <div class="col-6">
            <b-form-checkbox
              id="has_paciente"
              v-model="usuario.is_paciente"
              value="true"
              unchecked-value="false"
            >
              Paciente
            </b-form-checkbox>
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 ">
      <button
        type="submit"
        class="btn btn-primary float-right"
      >Salvar</button>
    </div>
  </b-form>
</template>

<script>
import VARIAVEIS from '@/environment'

export default {
  name: 'UsuarioForm',
  props: ['usuario'],
  data () {
    return {
      estadosCivis: [
        { value: null, text: 'Selecione' },
        { value: '0', text: 'Solterio(a)' },
        { value: '1', text: 'Casado(a)' },
        { value: '2', text: 'Viúvo(a)' }
      ],
      sexo: [
        { value: null, text: 'Selecione' },
        { value: '0', text: 'Masculino' },
        { value: '1', text: 'Feminino' }
      ]
    }
  },

  methods: {
    salvar: function (evento) {
      evento.preventDefault()

      this.$validator.validate().then(valid => {
        if (valid) {
          if (this.usuario.email != this.usuario.conf_email) {
            this.$swal('Os e-mails informados não conferem.', '', 'warning')
            return;
          }

          if (this.usuario.senha != this.usuario.conf_senha) {
            this.$swal('As senhas informadas não conferem.', '', 'warning')
            return;
          }

          this.$http.post(VARIAVEIS.URL_PADRAO + 'usuario', this.usuario, {
            headers: {
              Authorization: localStorage.getItem('token')
            }
          }).then(
            resp => {
              this.$swal('Clínica inserida com sucesso.', '', 'success')
              this.$emit('evento-salvar', JSON.parse(resp.bodyText).data, this.usuario.id !== '')
            },
            erro => {
              this.$swal(erro.body.message, '', 'warning')
            }
          )
        }
      })
    }
  }
}
</script>

<style scoped>
</style>
