<template>
  <div class="col-sm card card-shadow">
    <div class="card-body">
      <button
        @click="abrirModalForm(null)"
        class="btn btn-success float"
      >
        <i class="fa fa-plus"></i>
        Inserir
      </button>
      <h5 class="card-title">Usuários</h5>
      <b-table
        striped
        hover
        :items="items"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :show-empty="true"
      >

        <template
          slot="acoes"
          slot-scope="data"
        >
          <span @click="abrirModalStatus(data.item)" v-if="data.item.ativo" class="icon text-danger">
            <i class="fa fa-power-off"></i>
          </span>
          <span @click="abrirModalStatus(data.item)" v-if="!data.item.ativo" class="icon text-success">
            <i class="fa fa-power-off"></i>
          </span>
        </template>

        <template slot="empty">
          <div class="text-center my-1">Nenhum resultado encontrado.</div>
        </template>

      </b-table>

    </div>

    <b-col
      md="12"
      class="mb-4"
    >
      <b-pagination
        align="center"
        :total-rows="totalRows"
        :per-page="perPage"
        v-model="currentPage"
      />
    </b-col>

    <b-modal
      hide-footer
      ref="formularioUsuario"
      :title="formTitulo"
    >
      <usuario-form
        :usuario="usuario"
        v-on:evento-salvar="aposSalvar">
      </usuario-form>
      <div scope="modal-footer"></div>
    </b-modal>

    <b-modal
      ref="usuarioStatus"
      :title="tituloModalStatus"
    >
      Deseja realmente {{ (usuarioStatus.ativo) ? 'inativar' : 'ativar' }}
      o usuário: {{ usuarioStatus.nome }}?
      <div
        slot="modal-footer"
        class="w-100 "
      >
        <button
          @click="fecharModalStatus()"
          class="btn btn-primary"
        >Não</button>
        <button
          @click="alterarStatus(usuarioStatus)"
          class="btn btn-danger float-right"
        >Sim</button>
      </div>
    </b-modal>
  </div>
</template>

<script>
// Importações
import VARIAVEIS from '@/environment'
import UsuarioForm from '@/components/admin/usuario/Form'

export default {
  name: 'UsuarioList',
  props: ['items'],
  components: {
    UsuarioForm
  },
  data () {
    return {
      usuario: {},
      usuarioStatus: {},
      tituloModalStatus: 'Inativar Usuário',
      formTitulo: 'Inserir Usuário',
      currentPage: 1,
      perPage: 8,
      totalRows: 0,
      fields: [
        { key: 'id', label: 'ID' },
        'nome',
        'email',
        'telefone',
        { key: 'acoes', label: 'Ações', class: 'text-center' }
      ]
    }
  },

  /**
   * Quando o componente for criado.
   */
  created () {
    this.inicializarUsuario()
  },

  /**
   * Método de escuta a alteração de valores dos elementos.
   */
  watch: {
    items (items, oldItems) {
      this.totalRows = items.length
    }
  },

  /**
   * Funções da classe.
   */
  methods: {
    /**
     * Controla o acesso ao modal de inserir/alterar usuário.
     */
    abrirModalForm (usuario) {
      if (usuario === null) {
        this.inicializarUsuario()
        this.formTitulo = 'Inserir Usuário'
      } else {
        this.usuario = usuario
        this.formTitulo = 'Alterar Usuário'
      }

      this.$refs.formularioUsuario.show()
    },

    /**
     * Inicializa o usuário.
     */
    inicializarUsuario () {
      this.usuario = {
        id: '',
        cpf: '',
        nome: '',
        email: '',
        senha: '',
        telefone: '',
        conf_senha: '',
        identidade: '',
        conf_email: '',
        estadoCivil: null,
        sexo: null,
        admin: 'false',
        isSecretaria: 'false',
        isOdontologo: 'false',
        isPaciente: 'false'
      }
    },

    /**
     * Evento executado após a opção de salvar.
     */
    aposSalvar (usuario, isAtualizacao) {
      this.$refs.formularioUsuario.hide()

      if (!isAtualizacao) {
        this.items.push(usuario)
      }

      this.usuario.id = usuario.id
      this.usuario.nome = usuario.nome
    },

    /**
     * Abre o modal de inativação de usuário.
     *
     * @param usuario
     */
    abrirModalStatus (usuario) {
      this.usuarioStatus = usuario
      this.tituloModalStatus = (usuario.ativo) ? 'Inativar Usuário': 'Ativar Usuário'
      this.$refs.usuarioStatus.show()
    },

    /**
     * Fecha o modal de alteração de status de usuário.
     */
    fecharModalStatus () {
      this.usarioStatus = {}
      this.$refs.usuarioStatus.hide()
    },

    /**
     * Recarrega os usuários.
     */
    recarregarUsuarios () {
      this.$http
        .get(VARIAVEIS.URL_PADRAO + 'usuario', {
          headers: {
            Authorization: localStorage.getItem('token')
          }
        })
        .then(
          response => {
            this.items = response.body.data.content
          },
          errors => {
            let mensagem = 'Erro interno no servidor.'

            if (errors && errors.body && errors.body !== '') {
              mensagem = errors.body.message
            }

            this.$swal(mensagem, '', 'warning')
          }
        )
    },

    /**
     * Altera o status do usuário.
     *
     * @parma usuario
     */
    alterarStatus (usuario) {
      this.$http
        .post(VARIAVEIS.URL_PADRAO + 'usuario/' + usuario.id + '/status', null, {
          headers: {
            Authorization: localStorage.getItem('token')
          }
        })
        .then(
          response => {
            this.$swal('Atualizado com sucesso.', '', 'warning')
            this.fecharModalStatus()
            this.recarregarUsuarios()
          },
          errors => {
            let mensagem = 'Erro interno no servidor.'

            if (errors && errors.body && errors.body !== '') {
              mensagem = errors.body.message
            }

            this.$swal(mensagem, '', 'warning')
          }
        )
    }
  }
}
</script>
