<template>
  <b-form @submit.stop.prevent="salvar">
    <div class="form-row">

      <b-form-group
        v-if="clinica.id && clinica.id != ''"
        class="col-3"
        id="id"
        label="ID:"
        label-for="id"
      >
        <b-form-input
          type="text"
          id="id"
          autocomplete="off"
          disabled
          v-model="clinicaForm.id"
          v-validate="{ required: true }"
        >
        </b-form-input>
      </b-form-group>

      <b-form-group
        class="col"
        id="nome"
        label="Nome:"
        label-for="nome"
      >
        <b-form-input
          type="text"
          id="nome"
          placeholder="Digite o nome da clínica."
          autocomplete="off"
          v-model="clinicaForm.nome"
        >
        </b-form-input>
      </b-form-group>
    </div>

    <div class="w-100 ">
      <button
        type="submit"
        class="btn btn-primary float-right"
      >Salvar</button>
    </div>
  </b-form>
</template>

<script>
import VARIAVEIS from '@/environment'

export default {
  name: 'ClinicaForm',
  props: ['clinica'],
  data () {
    return {
      clinicaForm: {
        id: '',
        nome: ''
      }
    }
  },

  /**
   * Escutas para auterações nos valores.
   */
  watch: {
    clinica (newClinica, oldClinica) {
      this.clinicaForm = {
        id: newClinica.id,
        nome: newClinica.nome
      }
    }
  },

  /**
   * Métodos de tratamento dos dados.
   */
  methods: {
    salvar: function (evento) {
      evento.preventDefault()

      if (this.clinicaForm.nome === '') {
        this.$swal('Campos obrigatórios não informados.', '', 'warning')
        return null
      }

      this.$http
        .post(VARIAVEIS.URL_PADRAO + 'clinica', this.clinicaForm, {
          headers: {
            Authorization: localStorage.getItem('token')
          }
        })
        .then(
          resp => {
            this.$swal('Clínica inserida com sucesso.', '', 'success')
            this.$emit('evento-salvar', JSON.parse(resp.bodyText).data, this.clinica.id !== '')
          },
          error => {
            let mensagem = 'Erro interno no servidor.'

            if (error && error.body && error.body !== '') {
              mensagem = error.body.message
            }

            this.$swal(mensagem, '', 'warning')
          }
        )
    }
  }
}
</script>
