<template>
  <div class="col-sm card card-shadow">
    <div class="card-body">
      <button
        @click="abrirModalForm(null)"
        class="btn btn-success float"
      >
        <i class="fa fa-plus"></i>
        Inserir
      </button>
      <h5 class="card-title">Clínicas</h5>
      <b-table
        striped
        hover
        :items="items"
        :fields="campos"
        :current-page="currentPage"
        :per-page="perPage"
        :show-empty="true"
      >

        <template
          slot="acoes"
          slot-scope="data"
        >
          <span
            @click="abrirModalForm(data.item)"
            class="icon text-primary"
          ><i class="fa fa-pencil"></i></span>
          <span
            class="icon text-danger"
            @click="abrirModalRemover(data.item)"
          ><i class="fa fa-trash"></i></span>
        </template>

        <template slot="empty">
          <div class="text-center my-1">Nenhum resultado encontrado.</div>
        </template>
      </b-table>

    </div>

    <b-col
      md="12"
      class="mb-4"
    >
      <b-pagination
        align="center"
        :total-rows="totalRows"
        :per-page="perPage"
        v-model="currentPage"
      />
    </b-col>

    <b-modal
      hide-footer
      ref="formularioClinica"
      :title="formTitulo"
    >
      <clinica-form
        v-on:evento-salvar="aposSalvar"
        :clinica="clinica"
      ></clinica-form>
      <div scope="modal-footer"></div>
    </b-modal>

    <b-modal
      ref="removerClinica"
      title="Remover Clínica"
    >
      Deseja realmente remover a clínica: {{ clinicaRemover.nome }}?
      <div
        slot="modal-footer"
        class="w-100 "
      >
        <button
          @click="fecharModalRemover()"
          class="btn btn-primary"
        >Não</button>
        <button
          @click="removerClinica(clinicaRemover.id)"
          class="btn btn-danger float-right"
        >Sim</button>
      </div>
    </b-modal>
  </div>
</template>

<script>
// Importações
import VARIAVEIS from '@/environment'
import ClinicaForm from '@/components/admin/clinica/Form'

export default {
  name: 'ClinicaList',
  props: ['items'],
  components: {
    ClinicaForm
  },
  data () {
    return {
      clinica: { id: '', nome: '' },
      clinicaRemover: {},
      formTitulo: 'Inserir Clínica',
      currentPage: 1,
      perPage: 8,
      totalRows: 0,
      campos: [
        { key: 'id', label: 'ID' },
        'nome',
        { key: 'acoes', label: 'Ações', class: 'text-center' }
      ]
    }
  },

  watch: {
    items (items, oldItems) {
      this.items = items
      this.totalRows = items.length
    }
  },

  methods: {
    /**
     * Controla o acesso ao modal de inserir/alterar clinicas.
     *
     * @param clinica
     */
    abrirModalForm (clinica) {
      if (clinica === null) {
        this.clinica = { id: '', nome: '' }
        this.formTitulo = 'Inserir Clínica'
      } else {
        this.clinica = clinica
        this.formTitulo = 'Alterar Clínica'
      }

      this.$refs.formularioClinica.show()
    },

    /**
     * Evento executado após a opção de salvar.
     */
    aposSalvar (clinica, isAtualizacao) {
      this.$refs.formularioClinica.hide()

      if (!isAtualizacao) {
        this.items.push(clinica)
      }

      this.clinica.id = clinica.id
      this.clinica.nome = clinica.nome
    },

    /**
     * Recarrega as clinicas.
     */
    recarregarClinicas () {
      this.$http
        .get(VARIAVEIS.URL_PADRAO + 'clinica', {
          headers: {
            Authorization: localStorage.getItem('token')
          }
        })
        .then(
          response => {
            this.items = response.body.data
          },
          errors => {
            let mensagem = 'Erro interno no servidor.'

            if (errors && errors.body && errors.body !== '') {
              mensagem = errors.body.message
            }

            this.$swal(mensagem, '', 'warning')
          }
        )
    },

    /**
     * Abre o modal de remoção da clínica selecionada.
     *
     * @param clinica
     */
    abrirModalRemover (clinica) {
      this.clinicaRemover = clinica
      this.$refs.removerClinica.show()
    },

    /**
     * Fecha o modal de remoção de clínica selecionada.
     */
    fecharModalRemover () {
      this.$refs.removerClinica.hide()
    },

    /**
     * Remove a clínica inserida.
     */
    removerClinica (id) {
      this.$http
        .delete(VARIAVEIS.URL_PADRAO + 'clinica/' + id, {
          headers: {
            Authorization: localStorage.getItem('token')
          }
        })
        .then(
          resp => {
            this.$swal('Clínica removida com sucesso.', '', 'success')
            this.recarregarClinicas()
          },
          error => {
            let mensagem = 'Erro interno no servidor.'
            if (error && error.body && error.body !== '') {
              mensagem = error.body.message
            }
            this.$swal(mensagem, '', 'warning')
          }
        )

      this.fecharModalRemover()
    }
  }
}
</script>
