<template lang="html">
  <b-navbar class="fixed-top" toggleable="md" variant="primary">
    <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
    <div class="text-center bg-primary navbar-brand-wrapper d-flex align-items-top justify-content-center">
      <h3 class="p-3 text-white">OdontoGO</h3>
      <!--<a class="navbar-brand brand-logo" href="/"><img :src="@/assets/images/logo.svg" alt="logo"/></a>
      <a class="navbar-brand brand-logo-mini" href="/"><img :src="@/assets/images/logo-mini.svg" alt="logo"/></a>-->
    </div>
    <b-collapse is-nav id="nav_collapse">
      <!-- <b-navbar-nav class="header-links">
        <b-nav-item href="#"><i class="mdi mdi-image-filter"></i>Gallery</b-nav-item>
        <b-nav-item href="#" active><i class="mdi mdi-email-outline"></i>Inbox</b-nav-item>
        <b-nav-item href="#"><i class="mdi mdi-calendar"></i>Calendar</b-nav-item>
      </b-navbar-nav> -->
      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto">
        <b-nav-item-dropdown right class="preview-list">
          <!-- <template slot="button-content">
            <div class="count-indicator">
              <i class="icon mdi mdi-email-variant"></i>
              <span class="count">7</span>
            </div>
          </template> -->
          <b-dropdown-item class="preview-item" href="#">
            <p class="mb-0 font-weight-normal float-left">You have 4 new notifications
            </p>
            <span class="badge badge-pill badge-warning float-right">View all</span>
          </b-dropdown-item>
          <b-dropdown-item class="preview-item" href="#">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-success">
                <i class="mdi mdi-alert-circle-outline mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-medium">Application Error</h6>
              <p class="font-weight-light small-text">
                Just now
              </p>
            </div>
          </b-dropdown-item>
          <b-dropdown-item class="preview-item" href="#">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-warning">
                <i class="mdi mdi-comment-text-outline mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-medium">Settings</h6>
              <p class="font-weight-light small-text">
                Private message
              </p>
            </div>
          </b-dropdown-item>
          <b-dropdown-item class="preview-item" href="#">
            <div class="preview-thumbnail">
              <div class="preview-icon bg-info">
                <i class="mdi mdi-email-outline mx-0"></i>
              </div>
            </div>
            <div class="preview-item-content">
              <h6 class="preview-subject font-weight-medium">New user registration</h6>
              <p class="font-weight-light small-text">
                2 days ago
              </p>
            </div>
          </b-dropdown-item>
        </b-nav-item-dropdown>
        <b-nav-item-dropdown right>
          <div slot="button-content">
            <div class="count-indicator">
              <i
                class="fa fa-user-circle"
                aria-hidden="true"
              ></i>
              <!-- <span class="count">4</span> -->
            </div>
          </div>
          <b-dropdown-item @click="redirecionarPerfil()">
            Perfil
          </b-dropdown-item>
          <b-dropdown-item @click="logout()">Logout</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>
    </b-collapse>
  </b-navbar>
</template>

<script lang="js">
export default {
  name: 'app-header',
  methods: {
    logout () {
      this.$store.commit('setUsuario', null)
      localStorage.setItem('token', '')
      this.$router.push({ 'name': 'login' })
    },

    redirecionarPerfil () {
      this.$router.push({ 'name': 'perfil' })
    }
  }
}
</script>

<style scoped lang="scss">
</style>
