<template lang="html">

  <section class="app-sidebar">
    <nav class="sidebar sidebar-offcanvas" id="sidebar">
      <ul class="nav">
        <li class="nav-item nav-profile">
          <div class="nav-link">
            <div class="profile-name">
              <p class="name">Cairo Mateus</p>
              <p class="designation">Secretário(a)</p>
              <div class="badge badge-teal mx-auto mt-3">Online</div>
            </div>
          </div>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{ name: 'admin' }">
            <i class="fa fa-tachometer" aria-hidden="true"></i>
            <span class="menu-title">Dashboard</span>
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{ name: 'clinica' }">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="menu-title">Clínicas</span>
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{ name: 'usuario' }">
            <i class="fa fa-user" aria-hidden="true"></i>
            <span class="menu-title">Usuários</span>
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{ name: 'prontuario-pergunta' }">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="menu-title">Prontuário Perguntas</span>
          </router-link>
        </li>
        <li class="nav-item">
          <router-link class="nav-link" :to="{ name: 'prontuario' }">
            <i class="fa fa-home" aria-hidden="true"></i>
            <span class="menu-title">Prontuários</span>
          </router-link>
        </li>
      </ul>
    </nav>
  </section>

</template>

<script lang="js">
export default {
  name: 'app-sidebar'
}
</script>

<style lang="scss">
.app-sidebar {
  background: #4a4949;
}

.sidebar .nav .nav-item .nav-link i {
  color: #ffffff;
}

.app-sidebar .fa {
  padding: 0 10px 0 0;
}
</style>
