<template>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Clínicas</li>
        <li class="breadcrumb-item active" aria-current="page">Listagem</li>
      </ol>
    </nav>

    <clinica-list :items="items"></clinica-list>
  </div>
</template>

<script>
// Importações
import VARIAVEIS from '@/environment'
import ClinicaList from '@/components/admin/clinica/List'

export default {
  name: 'Clinica',
  components: {
    ClinicaList
  },
  data () {
    return {
      items: []
    }
  },
  created: function () {
    this.$http
      .get(VARIAVEIS.URL_PADRAO + 'clinica', {
        headers: {
          Authorization: localStorage.getItem('token')
        }
      })
      .then(
        response => {
          this.items = response.body.data
        },
        errors => {
          let mensagem = 'Erro interno no servidor.'

          if (errors && errors.body && errors.body !== '') {
            mensagem = errors.body.message
          }

          this.$swal(mensagem, '', 'warning')
        }
      )
  }
}
</script>
