<template>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Prontuários</li>
        <li class="breadcrumb-item active" aria-current="page">Listagem</li>
      </ol>
    </nav>

    <prontuario-list :items="items"></prontuario-list>
  </div>
</template>

<script>
import { mapState } from 'vuex'
import VARIAVEIS from '@/environment'
import ProtuarioList from '@/components/admin/prontuario/ProntuarioList'

export default {
  name: 'prontuario',
  components: {
    'prontuario-list': ProtuarioList
  },
  data () {
    return {
      items: [
        {
          id: 1,
          coProtocolo: 2017050001,
          noPaciente: 'Cauwan Luiz',
          stProntuario: 'Aberto'
        }
      ]
    }
  },
  created () {
    this.buscarProntuarios()
  },
  methods: {

    ...mapState({
      setStatusLoadingLista: 'setLoadingLista'
    }),

    /**
     * Realiza a busca de prontuários.
     */
    buscarProntuarios: function () {
      this.setStatusLoadingLista(true)
      this.$http
        .get(VARIAVEIS.URL_PADRAO + 'prontuario', {
          headers: { Authorization: localStorage.getItem('token') }
        })
        .then(
          response => {
            this.items = response.body.data
            this.setStatusLoadingLista(false)
          },
          errors => {
            // let mensagem = 'Erro interno no servidor.'

            // if (errors && errors.body && errors.body !== '') {
            //   mensagem = errors.body.message
            // }

            // this.$swal(mensagem, '', 'warning')
            // this.setStatusLoadingLista(false)
          }
        )
    }
  }
}
</script>
