<template>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">Prontuário Perguntas</li>
        <li class="breadcrumb-item active" aria-current="page">Listagem</li>
      </ol>
    </nav>

    <prontuario-pergunta-list :items="items"></prontuario-pergunta-list>
  </div>
</template>

<script>
// Importações
import { mapActions } from 'vuex'
import VARIAVEIS from '@/environment'
import ProntuarioPerguntaList from '@/components/admin/prontuario-pergunta/List'

export default {
  name: 'prontuario-pergunta',
  components: {
    ProntuarioPerguntaList
  },
  data () {
    return {
      items: [
        { 'id': 1, 'dsPergunta': 'Está sob medicamento ?' },
        { 'id': 2, 'dsPergunta': 'Está tomando algum medicamento ?' }
      ]
    }
  },
  created () {
    this.buscarPerguntasProntuario()
  },
  methods: {

    ...mapActions({
      'setStatusLoadingLista': 'setLoadingLista'
    }),

    /**
     * Recupera a listagem de perguntas de prontuário cadastradas.
     */
    buscarPerguntasProntuario: function () {
      this.setStatusLoadingLista(true)
      this.$http
        .get(VARIAVEIS.URL_PADRAO + 'prontuario-pergunta', {
          headers: {
            Authorization: localStorage.getItem('token')
          }
        })
        .then(
          response => {
            this.items = response.body.data
            this.setStatusLoadingLista(false)
          },
          errors => {
            // let mensagem = 'Erro interno no servidor.'
            // if (errors && errors.body && errors.body !== '') {
            //   mensagem = errors.body.message
            // }
            // this.$swal(mensagem, '', 'warning')
            this.setStatusLoadingLista(false)
          }
        )
    }
  }
}
</script>
