<template>
  <div class="container">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb">
        <li class="breadcrumb-item active">
          Usuários
        </li>
        <li
          class="breadcrumb-item active"
          aria-current="page"
        >
          Listagem
        </li>
      </ol>
    </nav>

    <usuario-list :items="items"></usuario-list>
  </div>
</template>

<script>
import VARIAVEIS from '@/environment'
import UsuarioList from '@/components/admin/usuario/List'

export default {
  name: 'Usuario',
  components: {
    UsuarioList
  },
  data () {
    return {
      items: []
    }
  },
  created: function () {
    this.$http
      .get(VARIAVEIS.URL_PADRAO + 'usuario', {
        headers: {
          Authorization: localStorage.getItem('token')
        }
      })
      .then(
        response => {
          this.items = response.body.data.content
        },
        errors => {
          let mensagem = 'Erro interno no servidor.'

          if (errors && errors.body && errors.body !== '') {
            mensagem = errors.body.message
          }

          this.$swal(mensagem, '', 'warning')
        }
      )
  }
}
</script>
