<template>
  <div class="col-sm card card-shadow">
    <div v-if="!isLoading" class="card-body">
      <button
        @click="abrirModalFormulario(null)"
        class="btn btn-success float"
      >
        <i class="fa fa-plus"></i>
        Inserir
      </button>
      <h5 class="card-title">Prontuários</h5>
      <b-table
        striped
        hover
        :items="items"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :show-empty="true"
      >

        <template
          slot="acoes"
          slot-scope="data"
        >
          <span @click="abrirModalTratamentos(data.item)" title="Abrir listagem de tratamentos." class="icon text-primary">
            <i class="fa fa-list"></i>
          </span>
        </template>

        <template slot="empty">
          <div class="text-center my-1">Nenhum resultado encontrado.</div>
        </template>

      </b-table>

    </div>

    <b-col
      v-if="!isLoading"
      md="12"
      class="mb-4"
    >
      <b-pagination
        align="center"
        :total-rows="totalRows"
        :per-page="perPage"
        v-model="currentPage"
      />
    </b-col>

    <div v-if="isLoading" class="text-center m-5">
      <b-spinner variant="primary" label="Spinning"></b-spinner>
    </div>

    <b-modal
      hide-footer
      size="lg"
      ref="formProntuario"
      :title="tituloFormulario"
    >
      <prontuario-form v-on:salvar="salvar"></prontuario-form>
      <div scope="modal-footer"></div>
    </b-modal>

    <b-modal
      hide-footer
      size="lg"
      ref="formTratamentos"
      title="Lista de Tratamentos"
    >

      <b-table striped hover :fields="camposTratamentos" :items="tratamentos">
        <template slot="empty">
          <div class="text-center my-1">Nenhum resultado encontrado.</div>
        </template>
      </b-table>

      <div scope="modal-footer"></div>
    </b-modal>
  </div>
</template>

<script>
import VARIAVEIS from '@/environment'
import { mapActions, mapGetters } from 'vuex'
import ProntuarioForm from '@/components/admin/prontuario/ProntuarioForm'

export default {
  name: 'prontuario-list',
  components: {
    ProntuarioForm
  },
  props: ['items'],
  data () {
    return {
      currentPage: 1,
      perPage: 8,
      totalRows: 0,
      tituloFormulario: 'Inserir Prontuário',
      prontuario: {
        id: '',
        dsPergunta: ''
      },
      prontuarioRemocao: {},
      tratamentos: [
        {
          dtCadastro: '14/06/2019',
          dsDentes: 'Pré-molar Superior Esquerdo',
          noProcedimento: 'Emergencia',
          coProcedimento: '206',
          noAluno: 'Rodrigo dos Santos',
          noPaciente: 'Cauwan Luiz',
          noProfessor: 'Rodrigo Martins',
        },
        {
          dtCadastro: '17/06/2019',
          dsDentes: 'Pré-molar Superior Esquerdo',
          noProcedimento: 'Polimento',
          coProcedimento: '105',
          noAluno: 'Rodrigo dos Santos',
          noPaciente: 'Cauwan Luiz',
          noProfessor: 'Rodrigo Martins',
        },
        {
          dtCadastro: '20/06/2019',
          dsDentes: 'Todos',
          noProcedimento: 'Clareamento Dental',
          coProcedimento: '202',
          noAluno: 'Rodrigo dos Santos',
          noPaciente: 'Cauwan Luiz',
          noProfessor: 'Rodrigo Martins',
        }
      ],
      camposTratamentos: [
        { key: 'dtCadastro', label: 'Data' },
        { key: 'dsDentes', label: 'Dente(s)' },
        { key: 'noProcedimento', label: 'Procedimento' },
        { key: 'coProcedimento', label: 'Código' },
        { key: 'noAluno', label: 'Aluno' },
        { key: 'noPaciente', label: 'Paciente' },
        { key: 'noProfessor', label: 'Professor' }
      ],
      fields: [
        { key: 'coProtocolo', label: 'Nº do Protocolo' },
        { key: 'noPaciente', label: 'Nome do Paciente' },
        { key: 'stProntuario', label: 'Status Prontuário' },
        { key: 'acoes', label: 'Ações', class: 'text-center' }
      ]
    }
  },
  computed: {
    ...mapGetters({
      isLoading: 'isLoadingLista'
    })
  },
  methods: {

    ...mapActions({
      setStatusLoadingLista: 'setLoadingLista'
    }),

    /**
     * Salva um novo prontuário.
     *
     * @param prontuario
     */
    salvar: function (prontuario) {
      if (prontuario.id === '') {

      } else {

      }
    },

    /**
     * Abre o modal para o formulário de prontuário.
     *
     * @param prontuario
     */
    abrirModalFormulario: function (prontuario) {
      this.$refs.formProntuario.show()
    },

    /**
     * Abre o modal que lista os tratamentos.
     *
     * @param prontuario
     */
    abrirModalTratamentos: function (prontuario) {
      this.$refs.formTratamentos.show()
    }
  }
}
</script>
