<template>
  <div>

    <b-form @submit.stop.prevent="pesquisar">
      <div class="form-row">
        <b-form-group
          class="col-6"
          id="idPacienteLbl"
          label="Paciente:"
          label-for="id"
        >
          <b-form-input
            list="pacientes-list"
            type="text"
            id="idPaciente"
            autocomplete="off"
            title="Selecione o nome do paciente para o campo de autocomplemento."
            @change="abrirFormulario"
            v-model="prontuario.paciente"
          >
          </b-form-input>

          <datalist id="pacientes-list">
            <option>Cairo Mateus</option>
            <option v-for="paciente in pacientes" v-bind:key="paciente.id">
              {{ paciente.nome }}
            </option>
          </datalist>
        </b-form-group>
      </div>
    </b-form>

    <b-form @submit.stop.prevent="salvar" v-if="isPacienteSelecionado">
      <hr>

      <div class="form-row">
        <b-form-group
          class="col-4"
          label="Nome Paciente:"
        >
          <b-form-input
            type="text"
            disabled
            title="Nome do paciente."
            v-model="prontuario.nome"
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          class="col-2"
          label="Data de Cadastro:"
        >
          <b-form-input
            disabled
            type="text"
            id="idPaciente"
            title="Data em que o cadastro do prontuário está sendo realizada."
            v-model="prontuario.dtCadastro"
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          label="RG:"
          class="col-3"
        >
          <b-form-input
            disabled
            type="text"
            title="Registro geral do paciente."
            v-model="prontuario.nuRg"
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          class="col-3"
          label="CPF:"
        >
          <b-form-input
            disabled
            type="text"
            title="CPF do paciente."
            v-model="prontuario.nuCpf"
          >
          </b-form-input>
        </b-form-group>
      </div>

      <div class="form-row">
        <b-form-group
          class="col-4"
          label="Responsável:"
        >
          <b-form-input
            disabled
            type="text"
            title="Nome do responsável pelo paciente."
            v-model="prontuario.dsResponsavel"
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          class="col-4"
          label="Filiação:"
        >
          <b-form-input
            disabled
            type="text"
            title="Empresa a qual o paciente tem filiação"
            v-model="prontuario.dsEmpresa"
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          class="col-4"
          label="Endereço Residencial:"
        >
          <b-form-input
            type="text"
            disabled
            title="Endereço residencial do paciente."
            v-model="prontuario.dsEnderecoResidencial"
          >
          </b-form-input>
        </b-form-group>

      </div>

      <div class="form-row">
        <b-form-group
          class="col-6"
          title="Endereço comercial do paciente."
          label="Endereço Comercial:"
        >
          <b-form-input
            disabled
            type="text"
            v-model="prontuario.dsEnderecoComercial"
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          class="col-2"
          label="CEP:"
        >
          <b-form-input
            disabled
            type="text"
            title="CEP do endereço residencial do paciente."
            v-model="prontuario.nuCep"
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          class="col-3"
          label="Cidade:"
        >
          <b-form-input
            disabled
            type="text"
            title="Cidade vinculada ao endereço residencial do paciente."
            v-model="prontuario.noMunicipio"
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          class="col-1"
          label="UF:"
          label-for="id"
        >
          <b-form-input
            disabled
            type="text"
            title="Estado vinculado ao endereço residencial do paciente."
            v-model="prontuario.noEstado"
          >
          </b-form-input>
        </b-form-group>
      </div>

      <div class="form-row">
        <b-form-group
          class="col-3"
          label="Telefone Residencial:"
        >
          <b-form-input
            disabled
            type="text"
            title="Telefone residencial do paciente."
            v-model="prontuario.nuTelefoneResidencial"
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          class="col-3"
          label="Telefone Comercial:"
        >
          <b-form-input
            disabled
            type="text"
            title="Telefone comercial do paciente."
            v-model="prontuario.nuTelefoneComercial"
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          class="col-3"
          label="Telefone Celular:"
        >
          <b-form-input
            disabled
            type="text"
            title="Telefone celular do paciente."
            v-model="prontuario.nuTelefone"
          >
          </b-form-input>
        </b-form-group>

        <b-form-group
          class="col-3"
          label="Outro Telefone:"
        >
          <b-form-input
            disabled
            type="text"
            title="Outro telefone do paciente."
            v-model="prontuario.nuOutroTelefone"
          >
          </b-form-input>
        </b-form-group>
      </div>

      <hr>

      <div class="form-row">
        <b-form-group
          class="col-6"
          id="id"
          label="Queixa Principal:"
          label-for="id"
        >
          <b-form-textarea
            id="textarea"
            v-model="text"
            placeholder="Digite a queixa principal..."
          ></b-form-textarea>
        </b-form-group>

        <b-form-group
          class="col-6"
          label="Histórico da doença atual:"
        >
          <b-form-textarea
            id="textarea"
            v-model="prontuario.dsQueixaPrincipal"
            placeholder="Digite o histórico de doença atual..."
          ></b-form-textarea>
        </b-form-group>
      </div>

      <div class="form-row">
        <b-form-group
          class="col-6"
          id="id"
          label="História pessoal (médica e odontológica pregressa):"
          label-for="id"
        >
          <b-form-textarea
            id="textarea"
            v-model="text"
            placeholder="Digite o histórico pessoal..."
          ></b-form-textarea>
        </b-form-group>

        <b-form-group
          class="col-6"
          id="id"
          label="História familiar:"
          label-for="id"
        >
          <b-form-textarea
            id="textarea"
            v-model="prontuario.dsQueixaPrincipal"
            placeholder="Digite a história familiar..."
          ></b-form-textarea>
        </b-form-group>
      </div>

      <div class="form-row">
        <b-form-group
          class="col-6"
          id="id"
          label="História social:"
          label-for="id"
        >
          <b-form-textarea
            id="textarea"
            v-model="prontuario.dsQueixaPrincipal"
            placeholder="Digite a história social..."
          ></b-form-textarea>
        </b-form-group>
      </div>

      <hr>

      <h5>Questionário de Saúde</h5>

      <div class="form-row" v-for="pergunta in perguntas" v-bind:key="pergunta.id">
          <div class="col-6">
            <label for="" class="pt-2">{{ pergunta.dsPergunta }}</label>
          </div>
          <div class="col-2">
            <b-form-group>
              <b-form-radio-group id="radio-group-2" v-model="selected" name="radio-sub-component">
                <b-form-radio value="t">Sim</b-form-radio>
                <b-form-radio value="f">Não</b-form-radio>
              </b-form-radio-group>
            </b-form-group>
          </div>
          <div class="col-4">
            <b-form-input
              type="text"
              id="idPaciente"
              autocomplete="off"
              placeholder="Observação..."
            >
            </b-form-input>
          </div>
      </div>

      <div class="w-100">
        <button
          type="submit"
          class="btn btn-primary float-right"
        >Salvar</button>
      </div>
    </b-form>
  </div>
</template>

<script>
export default {
  name: 'prontuario-form',
  data () {
    return {
      isPacienteSelecionado: false,
      pacientes: [],
      prontuario: {
        id: '',
        nome: 'Cairo Mateus',
        dsPergunta: '',
        dsQueixaPrincipal: '',
        dtCadastro: new Date().toLocaleDateString(),
        nuRg: '5877043',
        nuCpf: '057.525.891-85',
        sgUf: 'GO',
        dsResponsavel: '',
        paciente: '',
        noMunicipio: 'Anápolis',
        noEstado: 'Goiás',
        nuTelefone: '(62) 99974-8609'
      },
      perguntas: [
        { id: '1', dsPergunta: 'Está sob medicamento ?' },
        { id: '2', dsPergunta: 'Está tomando algum medicamento ?' }
      ]
    }
  },
  methods: {
    abrirFormulario: function () {
      console.log('abjdasda')
      this.isPacienteSelecionado = true
    }
  }
}
</script>
