<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style>
@import '../node_modules/mdi/css/materialdesignicons.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
</style>

<style lang="scss">
@import "./assets/scss/style";

.card-shadow {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.float {
  float: right;
}

.icon {
  padding: 0 8px;
}
</style>
