<template>
  <b-form @submit.stop.prevent="salvar">
    <div class="form-row">

      <b-form-group
        v-if="perguntaProntuarioForm.id && perguntaProntuarioForm.id != ''"
        class="col-3"
        id="id"
        label="ID:"
        label-for="id"
      >
        <b-form-input
          type="text"
          id="id"
          autocomplete="off"
          disabled
          v-model="perguntaProntuarioForm.id"
          v-validate="{ required: true }"
        >
        </b-form-input>
      </b-form-group>

      <b-form-group
        class="col"
        id="g_ds_pergunta"
        label="Pergunta:"
        label-for="pergunta"
      >
        <b-form-input
          type="text"
          id="dsPergunta"
          name="dsPergunta"
          placeholder="Digite a pergunta de prontuário."
          autocomplete="off"
          v-model="perguntaProntuarioForm.dsPergunta"
          v-validate="{ required: true }"
        >
        </b-form-input>
      </b-form-group>
    </div>

    <div class="w-100 ">
      <button
        type="submit"
        class="btn btn-primary float-right"
      >Salvar</button>
    </div>
  </b-form>
</template>

<script>
export default {
  name: 'prontuario-pergunta-form',
  props: ['PerguntaProntuario'],
  data () {
    return {
      perguntaProntuarioForm: {
        id: '',
        dsPergunta: ''
      }
    }
  },
  methods: {

    /**
     * Salva um novo prontuário de pergunta.
     *
     * @param evento
     */
    salvar: function (evento) {
      evento.preventDefault()

      this.$validator.validate().then(valid => {
        if (valid) {
          this.$emit('salvar', this.perguntaProntuarioForm)
        }
      })
    }
  },

  /**
   * Escutas para auterações nos valores.
   */
  watch: {
    clinica (newPerguntaProntuario, oldPerguntaProntuario) {
      this.perguntaProntuarioForm = {
        id: newPerguntaProntuario.id,
        dsPergunta: newPerguntaProntuario.dsPergunta
      }
    }
  }
}
</script>
