<template>
  <div class="col-sm card card-shadow">
    <div v-if="!isLoading" class="card-body">
      <button
        @click="abrirModalFormularioPergunta(null)"
        class="btn btn-success float"
      >
        <i class="fa fa-plus"></i>
        Inserir
      </button>
      <h5 class="card-title">Perguntas de Prontuário</h5>
      <b-table
        striped
        hover
        :items="items"
        :fields="fields"
        :current-page="currentPage"
        :per-page="perPage"
        :show-empty="true"
      >

        <template
          slot="acoes"
          slot-scope="data"
        >
          <span @click="abrirModalRemoverPergunta(data.item)" class="icon text-danger">
            <i class="fa fa-trash"></i>
          </span>
        </template>

        <template slot="empty">
          <div class="text-center my-1">Nenhum resultado encontrado.</div>
        </template>

      </b-table>

    </div>

    <b-col
      v-if="!isLoading"
      md="12"
      class="mb-4"
    >
      <b-pagination
        align="center"
        :total-rows="totalRows"
        :per-page="perPage"
        v-model="currentPage"
      />
    </b-col>

    <div v-if="isLoading" class="text-center m-5">
      <b-spinner variant="primary" label="Spinning"></b-spinner>
    </div>

    <b-modal
      hide-footer
      ref="formularioPerguntaProntuario"
      :title="tituloFormulario"
    >
      <prontuario-pergunta-form v-on:salvar="salvarPergunta"></prontuario-pergunta-form>
      <div scope="modal-footer"></div>
    </b-modal>

    <b-modal
      ref="removerPerguntaProntuarioModal"
      title="Remover Pergunta de Prontuário"
    >
      Deseja realmente remover a pergunta do prontuário: {{ perguntaProntuarioRemocao.dsPergunta }} ?
      <div
        slot="modal-footer"
        class="w-100 "
      >
        <button
          @click="fecharModalRemoverPergunta()"
          class="btn btn-primary"
        >Não</button>
        <button
          @click="removerPerguntaProntuario(perguntaProntuarioRemocao.id)"
          class="btn btn-danger float-right"
        >Sim</button>
      </div>
    </b-modal>
  </div>
</template>

<script>
import VARIAVEIS from '@/environment'
import { mapActions, mapGetters } from 'vuex'
import ProntuarioPerguntaForm from '@/components/admin/prontuario-pergunta/Form'

export default {
  name: 'prontuario-pergunta-list',
  components: {
    'prontuario-pergunta-form': ProntuarioPerguntaForm
  },
  props: ['items'],
  data () {
    return {
      currentPage: 1,
      perPage: 8,
      totalRows: 0,
      tituloFormulario: 'Inserir Pergunta de Prontuário',
      perguntaProntuario: {
        id: '',
        dsPergunta: ''
      },
      perguntaProntuarioRemocao: {},
      fields: [
        { key: 'id', label: 'ID' },
        { key: 'dsPergunta', label: 'Pergunta' },
        { key: 'acoes', label: 'Ações', class: 'text-center' }
      ]
    }
  },
  computed: {
    ...mapGetters({
      isLoading: 'isLoadingLista'
    })
  },
  methods: {

    ...mapActions({
      setStatusLoadingLista: 'setLoadingLista'
    }),

    /**
     * Salva uma nova pergunta de prontuário no sistema.
     *
     * @param perguntaProntuario
     */
    salvarPergunta: function (perguntaProntuario) {
      if (perguntaProntuario.id === '') {
        this.$http
          .post(VARIAVEIS.URL_PADRAO + 'prontuario-pergunta', perguntaProntuario, {
            headers: { Authorization: localStorage.getItem('token') }
          })
          .then(
            resp => {
              this.$swal('Pergunta de prontuário inserida com sucesso.', '', 'success')
              this.items.push(JSON.parse(resp.bodyText).data)
              this.fecharModalFormularioPergunta()
            },
            error => {
              let mensagem = 'Erro interno no servidor.'

              if (error && error.body && error.body !== '') {
                mensagem = error.body.message
              }

              this.$swal(mensagem, '', 'warning')
            }
          )
      } else {
        this.$http
          .put(VARIAVEIS.URL_PADRAO + 'prontuario-pergunta/' + perguntaProntuario.id, perguntaProntuario, {
            headers: {
              Authorization: localStorage.getItem('token')
            }
          })
          .then(
            resp => {
              this.$swal('Pergunta de prontuário atualizado com sucesso.', '', 'success')
              // TODO revisar esse push
              this.items.push(resp)
              this.fecharModalFormularioPergunta()
            },
            error => {
              let mensagem = 'Erro interno no servidor.'
              if (error && error.body && error.body !== '') {
                mensagem = error.body.message
              }
              this.$swal(mensagem, '', 'warning')
            }
          )
      }
    },

    /**
     * Abre o modal de remoção de pergunta de prontuário.
     *
     * @param perguntaProntuario
     */
    abrirModalFormularioPergunta: function (perguntaProntuario) {
      if (perguntaProntuario == null) {
        this.perguntaProntuario = { id: null, dsPergunta: '' }
        this.tituloFormulario = 'Inserir Pergunta de Prontuário'
      } else {
        this.perguntaProntuario = perguntaProntuario
        this.tituloFormulario = 'Alterar Pergunta de Prontuário'
      }

      this.$refs.formularioPerguntaProntuario.show()
    },

    /**
     * Abre o modal de remoção de pergunta de prontuário.
     *
     * @param perguntaProntuario
     */
    abrirModalRemoverPergunta: function (perguntaProntuario) {
      this.perguntaProntuarioRemocao = perguntaProntuario
      this.$refs.removerPerguntaProntuarioModal.show()
    },

    /**
     * Fecha o modal de remoção de pergunta de prontuário.
     */
    fecharModalRemoverPergunta: function () {
      this.$refs.removerPerguntaProntuarioModal.hide()
    },

    /**
     * Fecha o modal de cadastro de pergunta de prontuário.
     */
    fecharModalFormularioPergunta: function () {
      this.$ref.formularioPerguntaProntuario.hide()
    },

    /**
     * Remove a pergunta de prontuário informada.
     *
     * @param id
     */
    removerPerguntaProntuario: function (id) {
      this.$http
        .delete(VARIAVEIS.URL_PADRAO + 'prontuario-pergunta/' + id, {
          headers: {
            Authorization: localStorage.getItem('token')
          }
        })
        .then(
          resp => {
            this.$swal('Pergunta de prontuário removida com sucesso.', '', 'success')
            this.recarregarPerguntasProntuario()
          },
          error => {
            let mensagem = 'Erro interno no servidor.'
            if (error && error.body && error.body !== '') {
              mensagem = error.body.message
            }
            this.$swal(mensagem, '', 'warning')
          }
        )

      this.fecharModalRemoverPergunta()
    },

    /**
     * Recarrega as perguntas de prontuário.
     */
    recarregarPerguntasProntuario: function () {
      this.setStatusLoadingLista(true)
      this.$http
        .get(VARIAVEIS.URL_PADRAO + 'prontuario-pergunta', {
          headers: { Authorization: localStorage.getItem('token') }
        })
        .then(
          response => {
            this.items = response.body.data
            this.setStatusLoadingLista(false)
          },
          errors => {
            let mensagem = 'Erro interno no servidor.'
            if (errors && errors.body && errors.body !== '') {
              mensagem = errors.body.message
            }
            this.$swal(mensagem, '', 'warning')
            this.setStatusLoadingLista(false)
          }
        )
    }
  }
}
</script>
